@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-border-light: #C3D1E9;
  --color-card-light: #F4F4F4;
  --color-gray-light: #D9D9D9;

  --radius-button: 39px;
  --radius-card: 48px;
  --radius-faq: 20px;
  --radius-section: 50px;

  --shadow-card: 3px -4px 4.3px -3px rgba(0,0,0,0.25);
  --shadow-faq: 0px 1px 5px 0px rgba(0,0,0,0.25);
  --shadow-step: 5px -1px 5.1px 0px rgba(0,0,0,0.25);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
